/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:300,400,600&display=swap');

:root {
  --darkred: rgb(114, 27, 27);
  --darkergrey: #333333;
  --darkgrey: #585858;
  --medgrey: #aaaaaa;
  --lightgrey: #f3f3f3;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 40px;
}

body {
  margin: 0;
  padding: 3vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

form {
  flex-grow: 1;
  /*margin: var(--m);*/
}

h1,
h2,
h3,
h4,
h5,
h6,
#song-title {
  font-family: "Montserrat", "Open Sans", sans-serif;
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  font-size: var(--xxl);
  margin: var(--m) 0 var(--xxl);
  text-align: left;
}
#song-title {
  font-size: var(--xxl);
  text-align: left;
  color: #000000;
}
h2 {
  font-size: var(--l);
  margin: var(--m) 0;
}


.titles {
  min-height: 15vh;
  max-width: calc(100% - 500px);
}

h6 {
  font-size: 12px;
  margin: 16px 0 -16px;
  font-weight: 300;
  color: rgb(114, 27, 27);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.blockBig {
  font-size: var(--xl);
}
.blockSmall {
  font-size: var(--m);
  font-weight: 300;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -16px -22px var(--xl) -22px;
}

.navbar-link{
  font-size: 14px;
  font-weight: 400;
  color: #888 !important;
  text-decoration: none;
  margin: 0 var(--l);
  transition: all 0.2s;
}
.navbar-link:hover{
  color: black !important;
  transition: all 0.2s;
}


.navbar-login {
  font-weight: 400;
  border: none !important;
  box-shadow: 1px 1px 4px rgba(68, 68, 68, 0.15) !important;
  justify-content: end !important;
  font-family: "Montserrat", sans-serif !important;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.u-flex-justifyCenter {
  display: flex;
  justify-content: center;
}

.u-flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}


.u-flex-alignCenter {
  display: flex;
  align-items: center;
}



.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--darkgrey);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: black;
}


.redButton {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 500 !important;
  text-decoration: none;
  padding: var(--m) var(--xxl);
  min-width: 120px;
  color: #ffffff !important;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  background: rgba(140, 27, 61, 0.9);
  box-shadow: 0px 0px 8px rgba(163, 109, 109, 0.75);
  text-align: center;
  transition: all 0.2s;
  border: none;
  border-radius: 0;
  margin: 0 var(--l);
}

.redButton:hover {
  background: rgba(140, 27, 61, 1);
  transition: all 0.2s;
}

.greyButton {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: var(--m);
  text-decoration: none;
  padding: var(--m) var(--xxl);
  min-width: 140px;
  height: 52px;
  border-radius: 50px;
  color: #333333 !important;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  background: #e2e2e2;
  text-align: center;
  transition: all 0.2s;
  border: none;
  margin:0 var(--m) 0 var(--l);
}

.greyButton:hover {
  background: #ccc;
  transition: all 0.2s;
  margin:0 var(var(--m));
}

.hollowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: var(--m);
  color: rgba(151, 6, 6, 0.9);
  text-shadow: 0px 0px 6px rgba(200,30,30, 0.1);
  box-shadow: 0px 0px 3px rgb(218, 62, 0, 0.1);
  text-decoration: none;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  margin: 0 var(--m);

  border: double 2px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(224, 62, 0, 0.7),rgba(151, 6, 6, 0.8));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.hollowButton:hover {
  color: rgba(151, 6, 6);
  border: double 2px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(224, 62, 0, 1),rgba(151, 6, 6, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 0px 3px rgb(218, 62, 0, 0.2);
}

.goodButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: var(--m);
  color: #fff;
  text-shadow: 0px 0px 6px #fff;
  text-decoration: none;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  background:  linear-gradient(to bottom right, rgba(197, 56, 0, 0.9) -40%, rgba(136, 16, 16, 0.82) 60%);
  -webkit-background-clip: content-box;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 3px rgb(218, 62, 0, 0.1);
  border: none;
  text-align: center;
  margin: 0 var(--m);
}

.goodButton:hover {
  background:  linear-gradient(to bottom right, rgba(197, 56, 0, 1) -80%, rgba(139, 45, 45, 0.92) 100%);
  -webkit-background-clip: content-box;
  transition: all 0.2s;
  margin:0 var(var(--m));
}

.confirm-buttons-container {
  justify-content: flex-end;
  margin: 0 -16px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}