/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:300,400,600&display=swap');

:root {
  --darkred: #8C1B3D;
  --darkergrey: #333333;
  --darkgrey: #585858;
  --medgrey: #aaaaaa;
  --lightgrey: #f3f3f3;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 40px;
  --largeBlock: 192px;
}

body {
  margin: 0;
  padding: 3vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

form {
  flex-grow: 1;
  /*margin: var(--m);*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  font-size: var(--xxl);
  margin: var(--m) 0;
  text-align: center;
}
h2 {
  font-size: var(--l);
  margin: var(--m) 0;
  padding-left: 2px;
}

h6 {
  font-size: 12px;
  margin: 16px 0 -16px;
  font-weight: 300;
  color: rgb(82, 27, 43);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.blockBig {
  font-size: var(--xl);
}
.blockSmall {
  font-size: var(--m);
  font-weight: 300;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -22px var(--xl) -22px;
}

.navbar-link{
  font-size: var(--m);
  font-weight: 400;
  color: #999 !important;
  text-decoration: none;
  margin: 0 var(--l);
  transition: all 0.2s;
}
.navbar-link:hover{
  color: black !important;
  transition: all 0.2s;
}


.navbar-login {
  font-weight: 400 !important;
  border: none !important;
  box-shadow: 1px 2px 3px rgba(68, 68, 68, 0.15) !important;

  justify-content: end !important;
  font-family: "Montserrat", sans-serif !important;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.u-flex-justifyCenter {
  display: flex;
  justify-content: center;
}

.u-flex-spaceBetween {
  display: flex;
  justify-content: space-between;
}


.u-flex-alignCenter {
  display: flex;
  align-items: center;
}



.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--darkgrey);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: black;
}


.redButton {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 500 !important;
  text-decoration: none;
  padding: var(--m) var(--xxl);
  min-width: 120px;
  color: #ffffff !important;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  background: rgba(140, 27, 61, 0.9);
  box-shadow: 0px 0px 8px rgba(163, 109, 109, 0.75);
  text-align: center;
  transition: all 0.2s;
  border: none;
  border-radius: 6px;
  margin: 0 var(--l);
}

.redButton:hover {
  background: rgba(140, 27, 61, 1);
  transition: all 0.2s;
}

.greyButton {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: var(--m);
  text-decoration: none;
  padding: var(--m) var(--xxl);
  min-width: 120px;
  color: #333333 !important;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  background: #e2e2e2;
  text-align: center;
  transition: all 0.2s;
  border: none;
  margin:0 var(--m);
}

.greyButton:hover {
  background: #ccc;
  transition: all 0.2s;
  margin:0 var(var(--m));
}


.title {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  background: linear-gradient(to right, rgb(206, 65, 0) -20%, #8C1B3D 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 16vh;
  margin-bottom: -12px;
}

.subtitle {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: var(--darkergrey);
  margin-bottom: 4vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  /*HIHIHI margin: 15% 0;*/
}

.splash-piano-png {
  top: 12vh;
  opacity: 0.08 !important;
  height: 24vh !important;
  width: 60vw !important;
  position: absolute;
  z-index: -1;
  border-radius: 6px;
  -webkit-filter: blur(1.5px); /* Safari 6.0 - 9.0 */
  filter: blur(1.5px);
}

.Splash-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(50vh + 80px);
}

.splash-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.startStop {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 24px;
  text-decoration: none;
  
  width: 15vw;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: all 0.2s;

  font-weight: 400 !important;
  color: #fff !important;
  background: rgba(140, 27, 61, 0.7);
  border: 0px solid var(--medgrey);


  height: var(--largeBlock);
  cursor: pointer;
}

.startStop:hover {
  background: rgba(140, 27, 61, 0.8);
  transition: all 0.2s;
}

.Timesig-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  vertical-align: middle;
  height: 100%;
  margin: 0 -16px var(--m);
}

.KeyInput-container,
.SignatureInput-container,
.TempoInput-container {
  font-family: "Montserrat", "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  vertical-align: top;
  background-color: var(--lightgrey);
  height: 64px;
  padding: var(--xl);
  margin: 0 var(--m);
  transition: all 0.2s;
}

.KeyInput-container:hover,
.SignatureInput-container:hover,
.TempoInput-container:hover {
  background-color: #eaeaea;
  transition: all 0.2s;
}

.NoteBlock-container {
  display: flex;
  height: 30vh;
  background-color: #f3f3f3 !important;
  margin: var(--l) 0;
}

select {
  font-family: 'Montserrat', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  border: none;
  color: var(--darkgrey);
  background-color: transparent;
  font-size: 14px;
  @media (min-width: 768px) {
    width: 70%;
  }
  
  @media (min-width: 992px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 30%;
  }
}

input {
  font-family: 'Montserrat', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  border: none;
  color: var(--darkgrey);
  background-color: transparent;
  font-size: 24px;
  @media (min-width: 768px) {
    width: 70%;
  }
  
  @media (min-width: 992px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 30%;
  }
}

.confirm-buttons-container {
  justify-content: flex-end;
  margin: 0 -16px;
}

.piano-img {
  height: var(--largeBlock);
  opacity: 0.75;
  width: 75vw;
}

.piano-row {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.playback-row {
  margin: var(--m) 0;
  justify-content: space-evenly;
}

.big-noteblock-container {
  width: 100%;
  background-color: #f3f3f3;
  overflow: scroll;
}

