/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:300,400,600&display=swap');

:root {
  --darkred: #8C1B3D;
  --darkergrey: #333333;
  --darkgrey: #585858;
  --medgrey: #aaaaaa;
  --lightgrey: #f3f3f3;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

form {
  flex-grow: 1;
  margin: var(--m);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Open Sans", sans-serif;
  clear: both;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 400;
}
h1 {
  font-size: var(--xxl);
  margin: var(--m);
  text-align: center;
}
h2 {
  font-size: var(--l);
  margin: var(--m);
}

.blockBig {
  font-size: var(--xl);
}
.blockSmall {
  font-size: var(--m);
  font-weight: 300;
}

.navbar-container{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--l) var(--xxl);
}

.navbar-link{
  font-size: var(--m);
  color: var(--darkgrey) !important;
  margin: var(--m) var(--l);
  transition: all 0.2s;
}
.navbar-link:hover{
  color: black !important;
  transition: all 0.2s;
}

.navbar-link {
  text-decoration: none;
}


.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  display: flex;
  justify-content: center;
}

.u-flex-spaceBetween {
  justify-content: space-between;
}


.u-flex-alignCenter {
  align-items: center;
}



.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--darkgrey);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: black;
}

button {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 600 !important;
  margin: var(--m);
  padding: var(--m);
  color: darkergrey;
}