:root {
  --largeBlock: 180px;
}

.Compose-container {
  width: calc(min(90%, 900px));
  margin-left: calc((100% - min(90%, 900px)) / 2 - 4px);
  margin-top: 4%;
}

.startStop {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 24px;
    text-decoration: none;
    
    width: 15vw;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: all 0.2s;
  
    font-weight: 400 !important;
    color: #fff !important;
    background: rgba(140, 27, 61, 0.7);
    border: 0px solid var(--medgrey);
  
  
    height: var(--largeBlock);
    cursor: pointer;
}


  
.startStop:hover {
    background: rgba(140, 27, 61, 0.8);
    transition: all 0.2s;
}

.startRound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: rgba(170, 6, 6, 0.9);
  text-decoration: none;
  width: var(--largeBlock);
  height: var(--largeBlock);
  border-radius: var(--largeBlock);
  text-shadow: 0px 0px 6px rgba(220,30,30, 0.1);
  box-shadow: 0px 0px 3px rgb(231, 62, 0, 0.1);

  border: double 3px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(231, 63, 0, 0.65),rgba(138, 23, 23, 0.8));
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-right: 40px;
}

.startRound:hover {
  text-shadow: 0px 0px 6px rgba(200,30,30, 0.15);
  color: rgba(160, 6, 6, 1);
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(231, 63, 0, 1),rgba(138, 23, 23, 1));
}

.stopRound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: rgba(97, 42, 76, 0.9);
  text-decoration: none;
  width: var(--largeBlock);
  height: var(--largeBlock);
  border-radius: var(--largeBlock);
  text-shadow: 0px 0px 6px rgba(71, 24, 109, 0.1);
  box-shadow: 0px 0px 3px rgba(71, 24, 109, 0.1);

  border: double 3px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(156, 50, 50, 0.65),rgba(126, 47, 106, 0.8));
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-right: 40px;
}


.stopRound:hover {
  text-shadow: 0px 0px 6px rgba(71, 24, 109, 0.15);
  color: rgba(97, 42, 76, 1);
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(156, 50, 50, 0.88),rgba(126, 47, 106, 0.9));
}
  
.colorfulRound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 500 !important;
  font-size: 24px;
  color: #fff;
  text-shadow: 0px 0px 6px #fff;
  text-decoration: none;
  width: var(--largeBlock);
  height: var(--largeBlock);
  border-radius: var(--largeBlock);
  background:  linear-gradient(to bottom right, rgb(218, 62, 0, 0.88) -50%, rgba(151, 6, 6, 0.72) 70%);
  -webkit-background-clip: content-box;
  text-shadow: 0px 0px 6px rgba(200,30,30, 0.1);
  box-shadow: 0px 0px 3px rgb(218, 62, 0, 0.1);
  margin-right: 40px;
}
  
.Timesig-block {
    display: flex;
    flex-direction: row;
    align-content: center;
    vertical-align: middle;
    height: 100%;
    margin: 0 -16px var(--m) !important;
}


.KeyInput-container,
.SignatureInput-container,
.TempoInput-container {
    font-family: "Montserrat", "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    vertical-align: top;
    background-color: var(--lightgrey);
    height: 64px;
    width: 64px;
    border-radius: 64px;
    padding: var(--xl);
    margin: 0 var(--m);
    transition: all 0.2s;
}

.KeyInput-container:hover,
.SignatureInput-container:hover,
.TempoInput-container:hover {
    background-color: #eaeaea;
    transition: all 0.2s;
}


select {
    font-family: 'Montserrat', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    border: none;
    color: var(--darkgrey);
    background-color: transparent;
    font-size: 14px;
    @media (min-width: 768px) {
      width: 70%;
    }
    
    @media (min-width: 992px) {
      width: 50%;
    }
    
    @media (min-width: 1200px) {
      width: 30%;
    }
}
  
input {
    font-family: 'Montserrat', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    border: none;
    color: var(--darkgrey);
    background-color: transparent;
    font-size: 24px;
    @media (min-width: 768px) {
      width: 70%;
    }
    
    @media (min-width: 992px) {
      width: 50%;
    }
    
    @media (min-width: 1200px) {
      width: 30%;
    }
}



.piano-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}


  
.playback-row {
    margin: var(--m) 0;
    justify-content: space-evenly;
}
  
.big-noteblock-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: scroll;
}
  
.SnapIntervalInput-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
}