.NoteBlock-container {
  background-color: #fff !important;
  display: flex;
  height: 400px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.NoteBlock-note {
  background: rgb(134, 51, 51);
  height: 12px;
  position: absolute;
  touch-action: none;
  min-width: 10px;
  border-radius: 2px;
  box-shadow: 0 0 2px #fff;
  box-sizing: border-box;
  z-index: 4;
}

.NoteBlock-harmony {
  background: #ccc;
  height: 12px;
  position: absolute;
  touch-action: none;
  min-width: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #bbb;
  z-index: 3;
}

.big-tempo-bar {
  top: 5%;
  width: 1px !important;
  height: 85%;
  position: absolute;
  background-color: #777;
  z-index: 2;
}

.small-tempo-bar {
  top: 15%;
  width: 1px !important;
  height: 65%;
  position: absolute;
  background-color: #c5c5c5;
  z-index: 2;
}