.NoteBlock-container {
  background-color: transparent !important;
  display: flex;
  margin: 0;
  position: relative;
  z-index: 1;
}

.NoteBlock-note {
  background: #333;
  height: 12px;
  position: absolute;
  touch-action: none;
  min-width: 10px;
  border-radius: 3px;
  box-shadow: 0 0 2px #ccc;
  box-sizing: border-box;
  z-index: 4;
}

.NoteBlock-harmony {
  background: #888;
  height: 12px;
  position: absolute;
  touch-action: none;
  min-width: 10px;
  border-radius: 3px;
  box-shadow: 0 0 2px #ccc;
  box-sizing: border-box;
  z-index: 3;
}

.big-tempo-bar {
  top: 0%;
  width: 1px !important;
  height: 100%;
  position: absolute;
  background-color: #666;
  z-index: 2;
}

.small-tempo-bar {
  top: 15%;
  width: 1px !important;
  height: 70%;
  position: absolute;
  background-color: #c7c7c7;
  z-index: 2;
}

.NoteBlock-horizontal-bars {
  height: 12px;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #eee;
  z-index: 2;
}

.NoteBlock-scroll-line {
  top: 0%;
  height: 100%;
  width: 1px !important;
  height: 100%;
  position: absolute;
  background-color: #f00;
  z-index: 4;
}
