.NoteBlock-container {
  position: relative;
  z-index: 1;
}

.NoteBlock-note {
  background: #333;
  height: 12px;
  position: absolute;
  touch-action: none;
  min-width: 10px;
  border-radius: 3px;
  box-shadow: 0 0 2px #ccc;
  box-sizing: border-box;
}

.NoteBlock-harmony {
  background: #888;
}

.big-tempo-bar {
  top: 5%;
  width: 1px !important;
  height: 90%;
  position: absolute;
  background-color: #777;
  z-index: 2;
}

.small-tempo-bar {
  top: 15%;
  width: 1px !important;
  height: 70%;
  position: absolute;
  background-color: #c5c5c5;
  z-index: 2;
}