.smallSongContainer {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
    padding: 32px;
    text-align: left;
    min-width: 160px;
    transition: all 0.2s;
}

.smallSongContainer:hover {
    background-color: #fff;
}

.smallSongTitle {
    font-size: 24px;
    line-height: 200%;
    color: #333333;
}

.smallSongSubtitle {
    font-size: 14px;
    color: #333333;
}

a {
    text-decoration: none;
}

.songBlockLinkContainer {
    position: relative;
    margin-top: 12px;
}

.songBlockLink {
    position: relative;
    font-size: 14px;
    color: #888 !important;
    margin-right: 12px;
    transition: all 0.2s;
}

.songBlockLink:hover {
    color: #444 !important;
    transition: all 0.2s;
}

.songBlockLinkTooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(63, 63, 63);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    bottom: 100%;
}

.songBlockLink:hover .songBlockLinkTooltip {
    visibility: visible;
}
